@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 0%;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
}

button {
    outline: none;
}

.s1 button, .s3 button, .s4 button {
    font-size: 16px;
    letter-spacing: 1px;
}

input {
    outline: none;
}



body {
    background-image: url(img/bg-tablet-pattern-2.svg), url(img-blob/blob-13.svg);
    background-position: right -105px top -12%, left -150px top 12%;
    background-size: 410px 795px, 210px 795px;
    background-repeat: no-repeat;
}

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 10px 40px 15px;
    z-index: 100;
    transition: .5s;
}

.active-nav {
    padding: 20px 10px 40px 15px;
}

#desk-nav {
    display: none;
}

#main-nav-btn {
    display: none;
}

.nav-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, #323f9e, transparent);
    backdrop-filter: blur(3px) saturate(181%);
    z-index: 100;
    transition: .3s;
}

#hid-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

#menu-nav {
    background-color: #f1f2fd;
    filter: drop-shadow(0px 3px 12px #242d52);
    text-align: center;
    height: 55%;
    width: 85%;
    line-height: 39px;
    position: relative;
    top: 15.5%;
    left: 7.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.5%;
    z-index: 200;

    transition: .3s;
    transform: translateX(150%);
}

#menu-nav li {
    transition: .5s;
}

#menu-nav li:hover {
    opacity: .75;
}

.nav-links {
    list-style: none;
}

.nav-overlay a {
    color: #242d52;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 20px;
}

.nav-links button {
    background-color:#5165f8;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.3px;
    padding: .45rem 1.7rem;
    margin: 1.1rem 0 1.9rem 0;
    border-radius: 2rem;
    border: solid #5165f8;
    cursor: pointer;
    
    transition: .3s;
}

.nav-links button:hover {
    background-color:#fff;
    color: #5165f8;
    border: solid #5165f8;
}

.menu-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    height: 0;
}

.menu-icons img {
    width: 25px;
    transition: .5s;
}

.menu-icons img:hover {
    opacity: .7;
}

.menu-icons a {
    width: 50px;
}

.a-logo {
    width: 0%;
    height: 0%;
    margin: 0;
    padding: 0;
}

.top-logo {
    position: fixed;
}

.active-logo {
    top: 0%;
}

.backdrop {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    transition: .5s;
    z-index: -10;
}

.active-bk-drop {
    backdrop-filter: blur(25px) saturate(181%);
    -webkit-backdrop-filter: blur(25px) saturate(181%);
    background-color: rgba(255, 255, 255, 0.5);
}

.logo {
    width: 140px;
}

.open {
    float: right;
    position: fixed;
    top: 5.3%;
    right: 2.7%;
    cursor: pointer;
    width: 1.7em;
    padding: 0 20px 0 0;
    transition: .5s;
}

.active-open {
    top: 4%;
}

.close {
    position: absolute;
    top: 4.8%;
    right: 9.35%;
    width: 1.6em;
    z-index: 200;
    transition: .5s;
    cursor: pointer;
}

.active-close {
    top: 3.4%;
}


.s1 {
    margin: 6rem 0 0 0;
}

.s1-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 40px 0;
}

.data-img {
    width: 70%;
}

.s1-ct-info {
    text-align: center;
    padding: 0 0 4rem 0;
}

.s1-ct-info h1 {
    color:#242d52;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 2rem;
    padding: 0 1.8rem;
    line-height: 42px;
}

.s1-ct-info p {
    color:#242d52;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: .5rem .8rem 1.6rem .8rem;
}

.s1-ct-info button {
    background-color:#5165f8;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: .6rem 1.7rem;
    border-radius: 2rem;
    filter: drop-shadow(0px 5px 4px #5165f8);
    border: none;
    cursor: pointer;
}

.s1-ct-info a {
    color:#fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
}

.s2-ct {
    color:#242d52;
}

.s2-intro-txt {
    color:#242d52;
    text-align: center;
    padding: 0 0 3rem 0;
}

.s2-intro-txt h1 {
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0 3rem;
}

.s2-intro-txt p {
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: .5rem .9rem 0rem .9rem;
}

.s2-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 2.5rem 0;
}

.s2-sub {
    background-color: #d2d7fa;
    height: 2.58rem;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width: 20rem;
}

.s2-numb {
    text-align: center;
    background-color: #5165f8;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    letter-spacing: 1px;
    padding: .5rem .9rem;
    width: 2.3rem;
    border-radius: 2rem;
}

.s2-sub span {
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
}

.s2-info p {
    display: inline-block;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: 1rem 1rem 0 1rem;
}

.s2-info-c {
    padding: 0 0 5.5rem 0;
}

.s3-ct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s3-ct h1 {
    color:#242d52;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0 0 3.5rem 0;
}

.s3-test {
    overflow: hidden;
    width: 19.4rem;
}

.s3-sub-div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    margin: 0 0 .5rem 0;
    padding: 0;
    transition: .5s;
}

.s3-sub-ct {
    position: relative;
    bottom: 15%;
    right: 2.2%;
}

.s3-sub-ct img {
    width: 6rem;
}

#s3-sub-c img {
    width: 5.9rem;
}

.s3-sub-ct h3 {
    color:#242d52;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1rem 0; 
}

.s3-sub-ct p {
    color:#242d52;
    font-family: 'Baloo 2', cursive;
    padding: 0 2.3rem;
}

.s3-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.dots {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid #5165f8;
    border-radius: 50%;
    margin: 0 1rem 0 0;
    cursor: pointer;
    
    transition: .5s;
}

.dots:hover {
    background-color: #5165f8;
}

.active-dot {
    background-color: #5165f8;
}

#dots-4 {
    margin: 0;
}

.arrows-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2rem 0 2rem 0;
}

.arrow {
    width: 24px;
    cursor: pointer;
}

#left-arrow {
    margin: 0 1rem 0 0;
}

.s3-ct button {
    background-color:#5165f8;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: .6rem 1.7rem;
    border-radius: 2rem;
    filter: drop-shadow(0px 5px 4px #5165f8);
    border: none;
    cursor: pointer;
    margin: 0 0 4.7rem 0;
}

.s4 {
    width: 100%;
    background-color:#5165f8;
    background-image: url(img-blob/blob-12.svg);
    background-repeat: no-repeat;
    background-position: right 15px top -240px;
    background-size: 850px 810px;
    text-align: center;
}

.s4 h1 {
    color:#fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 2rem;
    padding: 4.4rem 35px 1rem 35px;
    line-height: 45px;
}

.s4 button {
    background-color:#fff;
    color: #5165f8;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    padding: .6rem 1.7rem;
    border-radius: 2rem;
    filter: drop-shadow(0px 5px 4px rgb(95, 95, 95));
    border: none;
    cursor: pointer;
    margin: 0 0 5rem 0;
}


footer {
    width: 100%;
    background-color:#090b14;
    text-align: center;
}

.input-div {
    padding: 3.1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-div input {
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: .5rem .9rem .5rem 1.4rem;
    margin: 0 .2rem 0 0;
    border-radius: 10rem;
    border: none;
}

.input-div input:focus {
    border: none;
}

.input-div button {
    background-color:#5165f8;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .8px;
    padding: .45rem 1.7rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

footer small {
    height: 0;
    width: 90px;
    text-align: left;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    margin: .05rem 9rem .4rem 0;
    padding: .15rem 0 0 0;
}

small {
    opacity: 1;
    visibility: hidden;
}

.error {
    color: red;
}


.ft-links {
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 1.5rem 0 0 0;
}

.ft-links a {
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.ft-links a:hover {
    opacity: .7;
}

.ft-links-1 {
    padding: 0 5rem 0 0;
    line-height: 36px;
}

.ft-links-2 {
    margin: -2.3rem 0 0 0;
    line-height: 36.5px;
}

.ft-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.3rem 0 2rem 1.6rem;
}

.ft-icons img {
    width: 30px;
    margin: 0 1.5rem 0 0;
    transition: .5s;
}

.ft-icons img:hover {
    opacity: .7;
}

.last-icon {
    margin: 0 1.5rem 0 0;
}

.ft-icons a {
    width: 70px;
}

.ft-logo {
    width: 150px;
    padding: 0 0 2.25rem 0;
}

.copyright {
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    font-size: 14px;
    color: rgb(158, 158, 158);
    padding: 0 0 1.8rem 0;
}



.e-modal { 
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, #323f9e, transparent);
    backdrop-filter: blur(3px) saturate(181%);
    z-index: 200;
    
    transition: .5s;
}

.e-modal-box { 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Baloo 2', cursive;
    height: 30rem;
    width: 18rem;
    background-color: #f1f2fd;
    filter: drop-shadow(0px 2.4px 13px #242d52);
    border-radius: .27rem;
    opacity: 0;

    transition: .5s;
    transform: translateY(150%);
}

.e-close {
    float: right;
    position: relative;
    top: -3%;
    right: -35%;
    cursor: pointer;
    width: 1.3em;
}

.email-img  {
    width: 60px;
    position: relative;
    left: 1.5%;
    margin: 1rem 0 1.5rem 0;
}

.e-modal-box h2 {
    color:#242d52;
    margin: 0 0 .5rem 0;
}

.e-modal-box p {
    color:#242d52;
    padding: 0 1rem;
}

.email-mod-ip {
    border: 2px solid #242d52;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: .5rem .9rem .5rem 1.4rem;
    margin: 1.32rem 0 0rem 0;
    border-radius: 5rem;
    background-color: transparent;
    outline: none;
    transition: .11s;
}

.email-mod-ip:focus {
    border: none;
    border-bottom: 2px solid #242d52;
    border-radius: 0;
    padding: .5rem .9rem .5rem 0;
}

#e-mod-form small {
    display: block;
    margin: .05rem 0 .3rem 0;
}

.e-modal-box button {
    background-color:#5165f8;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: .45rem 1.7rem;
    border-radius: 2rem;
    border: solid #5165f8;
    cursor: pointer;
    
    transition: .3s;
}

.e-modal-box button:hover {
    background-color:#fff;
    color: #5165f8;
    border: solid #5165f8;
}



.sign-form { 
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, #323f9e, transparent);
    backdrop-filter: blur(3px) saturate(181%);
    z-index: 100;
    
    transition: .5s;
}

.sign-box {
    text-align: center;
    font-family: 'Baloo 2', cursive;
    height: 30rem;
    width: 18rem;
    background-color: #f1f2fd;
    filter: drop-shadow(0px 2.4px 13px #242d52);
    border-radius: .27rem;
    opacity: 1;

    transition: .5s;
    transform: translateY(-150%);
}

.log-sign-top {
    display: flex;
    align-items: right;
    justify-content: space-around;
    height: 3.3rem;
}

.log-head {
    width: 50%;
    background-color: #3c4cc4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border-top-left-radius: .27rem;
}

.log-head h3 {
    width: 5rem;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #f1f2fd;
}

.log-head hr {
    display: none;
    width: 38%;
    text-align: center;
    background-color: #242d52; 
    height: 2px;
    margin: 0 0 .4rem 0;
    border: none;
}

.sign-up-head {
    width: 50%;
    background-color: #f1f2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-top-right-radius: .27rem;
}

.sign-up-head h3 {
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #242d52;
}

.sign-up-head hr {
    width: 50%;
    text-align: center;
    background-color: #242d52;
    height: 2px;
    margin: 0 0 .4rem 0;
    border: none;
}


.label {
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    color: #242d52;
}

#log-form-ct {
    display: none;
    margin: 2rem 0 0 0;
}

.log-lb {
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 1.8rem;
}

.log-ip {
    display: block;
    border: 2px solid #242d52;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: .1rem 3rem 0rem 1rem;
    margin: .5rem 0 0rem 1.8rem;
    border-radius: 5rem;
    background-color: transparent;
    outline: none;
    transition: .5s;
}

.log-ip-2 {
    margin: .5rem 0 0rem 1.8rem;
}

#log-form-ct small {
    display: block;
    text-align: left;
    margin: .5rem 0 2rem 0;
    position: relative;
    top: -.4rem;
    left: 16%;
    height: 0;
}

.log-keep-box {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1% 99%;
    position: relative;
    bottom: 1.45rem;
}

#check {
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 3rem;
    z-index: 10;
}

.log-lb-2 {
    margin: 0;
    padding: 0;
}

.sign-in {
    position: relative;
    left: 0%;
    background-color:#5165f8;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: .15rem 6rem;
    border-radius: 2rem;
    margin: .5rem 0 .2rem 0;
    border: solid #5165f8;
    outline: none;
    cursor: pointer;
    
    transition: .3s;
}

.log-bottom {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    line-height: 50px;
}

#cancel {
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#log-hr {
    width: 80%;
    background-color: #242d52;
    margin: 0 0 .5rem 0;
}

.forgot-pw {
    color: #242d52;
    text-decoration: none;
    opacity: .75;
    width: 43%;
    cursor: pointer;

    transition: .3s;
}

.forgot-pw:hover {
    opacity: 1;
}



#sign-up-form-ct {
    text-align: left;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.sign-ip {
    display: block;
    border: 2px solid #242d52;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    padding: .1rem 3rem .1rem 1rem;
    margin: .5rem 0 0rem 0;
    border-radius: 5rem;
    background-color: transparent;
    outline: none;
    transition: .05s;
}

.sign-ip:focus {
    border: none;
    border-bottom: 2px solid #242d52;
    border-radius: 0;
    padding: .1rem 4rem .1rem 0rem;
}

#sign-up-form-ct small {
    display: block;
    margin: .2rem 0 2rem 0;
    height: 0;
    position: relative;
    top: -.1rem;
    left: 5%;
}

.last-small {
    margin: .5rem 0 2rem 0;
}

.c-acc {
    background-color:#5165f8;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: .25rem 2.3rem;
    border-radius: 2rem;
    border: solid #5165f8;
    outline: none;
    cursor: pointer;
    
    transition: .3s;
}

#sign-up-no {
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    margin: 1rem 0 0 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 10px;
}



@media screen and (min-width: 375px) {

    body {
        background-image: url(img/bg-tablet-pattern-2.svg), url(img-blob/blob-13.svg);
        background-position: right -110px top -12%, left -143px top 13.7%;
        background-size: 450px 795px, 210px 795px;
        background-repeat: no-repeat;
    }

    .s2-info-c p {
        padding: 1rem 0rem 0 1.2rem;
    }

    .s4 {
        background-image: url(img-blob/blob-12.svg);
        background-repeat: no-repeat;
        background-position: right 55px top -260px;
        background-size: 800px 810px;
    }

}


@media screen and (min-width: 425px) {

    body {
        background-position: right -118px top -12%, left -143px top 13.7%;
        background-size: 500px 795px, 210px 795px;
    }

    .s2-info-c p {
        padding: 1rem .5rem 0 1rem;
    }
}


@media screen and (min-width: 520px) {

    body {
        background-position: right -130px top -12%, left -165px top 15.5%;
        background-size: 550px 795px, 230px 795px;
    }

    .a-logo {
        position: relative;
        left: .2rem;
        z-index: 10;
    }

    .s2, .s2-info {
        margin: 2rem 0;
    }

    .s2-intro-txt {
        color:#242d52;
        text-align: center;
        padding: 0 0 1.2rem 0;
    }

    .s2-info p {
        text-align: center;
        width: 90%;
        margin: .5rem 0 0 0;
    }

    .s3 {
        margin: 0 0 3rem 0;
    }

    .s4 {
        background-position: right 135px top -260px;
    }

    .sign-in:hover {
        background-color:#fff;
        color: #5165f8;
        border: solid #5165f8;
    }

    .c-acc:hover {
        background-color:#fff;
        color: #5165f8;
        border: solid #5165f8;
    }
}


@media screen and (min-width: 620px) {

    body {
        background-position: right -180px top -12%, left -175px top 20%;
        background-size: 680px 795px, 250px 795px;
    }

    .s4 {
        background-position: right 185px top -260px;
        background-size: 900px 810px;
    }
}


@media screen and (min-width: 680px) {

    body {
        background-position: right -110px top -14%, left -175px top 19%;
        background-size: 650px 795px, 250px 795px;
    }

    .data-img {
        width: 55%;
    }

    .s4 {
        background-position: right 135px top -260px;
    }
}


@media screen and (min-width: 768px) {

    body {
        background-position: right -120px top -14%, left -175px top 17%;
        background-size: 700px 795px, 280px 795px;
    }

    .data-img {
        width: 48%;
    }

    .s4 {
        background-position: right 205px top -260px;
    }
}


@media screen and (min-width: 960px) {

    body {
        background-position: right -120px top -13.3%, left -175px top 19%;
        background-size: 800px 795px, 280px 795px;
    }

    .data-img {
        width: 48%;
    }

    .s4 {
        background-position: right 355px top -260px;
    }

    .footer-ct {
        display: grid;
        grid-template-columns: repeat(3);
        grid-template-rows: repeat(2, 80px);
        padding: 3rem 3rem 1rem 0;
        position: relative;
        right: 1rem;
    }

    .ft-logo {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        padding: 0;
    }

    .ft-icons {
        grid-column: 1;
        grid-row: 2;
        margin: -2rem 0 0 0;
        padding: 0;
        width: 70%;
        transform: translateX(24%);
    }

    .ft-icons img {
        width: 26px;
        margin: 0;
        padding: 0;
    }

    .ft-links {
        grid-column: 2;
        grid-row: 1 / span 1;
        margin: 2rem 0 0 0;
        padding: 1.5rem 2rem 0 .5rem;
        width: 15rem;
    }
    .ft-links-1 {
        grid-column: 2;
        grid-row: 1 / span 1;
    }
    .ft-links-2 {
        grid-column: 2;
        grid-row: 1 / span 1;
    }

    .form-e-ft {
        grid-column: 3;
        grid-row: 1;
        margin: -3.5rem 0 0 0;
        width: 18rem;
    }

    .copyright {
        grid-column: 3;
        grid-row: 2;
        padding: 1.7rem 0 0 3.2rem;
    }
}


@media screen and (min-width: 1024px) {

    body {
        background-position: right -130px top -14%, left -90px top 48%;
        background-size: 680px 795px, 380px 825px;
    }

    .top-logo {
        position: relative;
        bottom: 1.1rem;
    }

    .open {
        display: none;
    }

    .nav-overlay {
        display: none;
    }

    .navbar {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 19% 50% 20%;
    }

    #desk-nav {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 1rem;
    }

    #desk-nav li {
        margin: 0 1.8rem 0 0;
        font-size: 17.5px;
    }

    .dn-li-1:before {
        content: "";
        width: 3.2rem;
        background-color: #242d52;
        height: .15rem;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 .05rem;
        transform: scale(0, 1);
        transition: .3s ease;
    }
    .dn-li-2:before {
        content: "";
        width: 3.65rem;
        background-color: #242d52;
        height: .15rem;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 .05rem;
        transform: scale(0, 1);
        transition: .3s ease;
    }
    .dn-li-3:before {
        content: "";
        width: 4.25rem;
        background-color: #242d52;
        height: .15rem;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        transform: scale(0, 1);
        transition: .3s ease;
    }
    .dn-li-4:before {
        content: "";
        width: 3.65rem;
        background-color: #242d52;
        height: .15rem;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 .05rem;
        transform: scale(0, 1);
        transition: .3s ease;
    }
    .dn-li-5:before {
        content: "";
        width: 5.35rem;
        background-color: #242d52;
        height: .15rem;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 .05rem;
        transform: scale(0, 1);
        transition: .3s ease;
    }
    .dn-li-1:hover::before,
    .dn-li-2:hover::before,
    .dn-li-3:hover::before,
    .dn-li-4:hover::before,
    .dn-li-5:hover::before {
        transform: scale(1, 1);
    }

    #desk-nav a {
        text-decoration: none;
        color: #242d52;
    }

    #main-nav-btn {
        display: block;
        background-color:#5165f8;
        color: #fff;
        font-family: 'Baloo 2', cursive;
        font-weight: 500;
        letter-spacing: 1.45px;
        padding: .25rem 1.5rem;
        width: 11rem;
        font-size: 16px;
        border-radius: 2rem;
        border: solid #5165f8;
        cursor: pointer;
        
        transition: .3s;
    }

    #main-nav-btn:hover {
        background-color:#fff;
        color: #5165f8;
        border: solid #5165f8;
    }


    .s1 {
        margin: 10.2rem 0 4rem 0;
    }

    .s1-ct {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .data-img {
        width: 140%;
        position: relative;
        right: 45%;
        bottom: 1.3rem;
    }
    
    .s1-ct-info {
        text-align: left;
        padding: 0 5rem 4rem 0;
    }
    
    .s1-ct-info h1 {
        font-size: 3rem;
        padding: 0 7rem;
        width: 60%;
        line-height: 65px;
    }
    
    .s1-ct-info p {
        color:#242d52;
        font-family: 'Baloo 2', cursive;
        font-weight: 400;
        padding: .5rem 5.8rem 1.6rem 7.15rem;
        width: 50%;
    }
    
    .s1-ct-info button {
        margin: 0 0 0 7.2rem;
    }


    .s2-ct {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6.5rem 0 3rem 0;
    }
    
    .s2-intro-txt {
        text-align: left;
        padding: 0 3.67rem;
        width: 25rem;
        position: relative;
        bottom: 11.3rem;
    }
    
    .s2-intro-txt h1 {
        font-size: 2.5rem;
        padding: 0;
        width: 100%;
        text-align: left;
    }
    
    .s2-intro-txt p {
        padding: .5rem .9rem 0rem .2rem;
    }

    .s2, .s2-info {
        margin: 0;
    }

    .s2-info {
        display: grid;
    }

    .s2-sub {
        background-color: transparent;
    }

    .s2-numb {
        padding: .3rem .9rem;
        filter: drop-shadow(0px 5px 4px rgb(95, 95, 95));
    }

    .s2-sub span {
        font-size: 20px;
        width: 20rem;
    }
    
    .s2-info p {
        text-align: left;
        padding: 0rem 1rem 0 5.1rem;
        width: 27rem;
        margin: 0;
    }

    
    .ft-links {
        width: 100%;
    }

    .form-e-ft {
        width: 100%;
        padding: 0 1rem 0 2rem;
    }

    .copyright {
        padding: 1.7rem 0 0 5rem;
        position: relative;
        left: 1.1rem;
    }
}


@media screen and (min-width: 1080px) {

    .s2-intro-txt {
        padding: 0 4.5rem 0rem 4.5rem;
    }
}


@media screen and (min-width: 1100px) {
    
    body {
        background-position: right -130px top -14%, left -100px top 50%;
        background-size: 680px 795px, 420px 855px;
    }

    #main-nav-btn {
        margin: 0 0 0 1rem;
    }

    .s4 {
        background-position: right 455px top -260px;
    }

    .ft-links-1 {
        padding: 0 12rem 0 0;
    }
}


@media screen and (min-width: 1200px) {
    
    body {
        background-position: right -130px top -14%, left -100px top 52%;
        background-size: 680px 795px, 420px 855px;
    }

    #main-nav-btn {
        margin: 0 0 0 1.5rem;
    }
}


@media screen and (min-width: 1300px) {

    body {
        background-position: right -160px top -14%, left -100px top 53%;
        background-size: 800px 795px, 420px 855px;
    }

    #main-nav-btn {
        margin: 0 0 0 3.5rem;
    }

    .s4 {
        background-position: right 605px top -260px;
    }
}

@media screen and (min-width: 1450px) {

    body {
        background-position: right -170px top -14%, left -100px top 53%;
        background-size: 900px 855px, 420px 855px;
    }

    .s4 {
        background-position: right 735px top -260px;
    }
}
